{% extends 'base.html' %}
{% block b1 %}
<script>
    $(function () {
        // 定位到订单，遍历每一个订单
        $('.order_list_table').each(function () {
            // 在每一个订单中都重置所需支付的订单总额
            var totalpay = 0;
            // 定位到每一个订单中的商品，遍历每一件商品
            $(this).find('.order_goods_list').each(function () {
                // 算出每件商品的小计
                var price = $(this).children('.col02').find('em').attr("value");
                var count  = $(this).children('.col03').text();
                var ltotal = parseFloat(price) * parseInt(count);
                $(this).children('.col04').text(ltotal.toFixed(2) + '元');
                // 算出每个订单的总计
                totalpay += parseFloat(ltotal);
            });

            $(this).find('#total_pay').text(totalpay.toFixed(2));
        });

    });

</script>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/">· 个人信息</a></li>
				<li><a href="/user/order/" class="active">· 全部订单</a></li>
				<li><a href="/user/site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
        {% for order in orderinfo %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.odate }}</li>
					<li class="col02">订单号：{{ order.oid }}</li>
                    {% if order.oIsPay == 0 %}
					    <li class="col02 stress">未支付</li>
                    {% else %}
                         <li class="col02 stress">已支付</li>
                    {% endif %}
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for orderdetail in orderdetailinfo %}
                                    {% if orderdetail.order == order %}
                                        <ul class="order_goods_list clearfix">
                                            <li class="col01"><img src="/static/images/goods/{{ orderdetail.goods.gpic }}"></li>
                                            <li class="col02">{{ orderdetail.goods.gtitle }}<em value="{{ orderdetail.goods.gprice }}">{{ orderdetail.goods.gprice }}元/{{ orderdetail.goods.gunit }}</em></li>
                                            <li class="col03">{{ orderdetail.count }}</li>
                                            <li class="col04">11.80元</li>
                                        </ul>
                                    {% endif %}
								{% endfor %}
							</td>
							<td width="15%" id="total_pay">33.60元</td>
                        {% if order.oIsPay == 0 %}
                            <td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                        {% else %}
                            <td width="15%">已付款</td>
                            <td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
                        {% endif %}

						</tr>
					</tbody>
				</table>
        {% endfor %}
				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>

{% endblock b1 %}

{% block b2 %}
{% endblock b2 %}
